

<nav class="w-full flex flex-col lg:flex-row justify-center lg:justify-between lg:items-center py-5 px-3 lg:px-8 border-b-1 border-gray-800 gap-4">
    <a href="/">
        <h2 class="monomaniac-one lg:text-3xl text-2xl text-center text-[#FFBB00] font-bold">Serpientes y Escaleras HTML</h2>
    </a>

    <a class="flex justify-center" href="/play">
        <button class="cursor-pointer bg-[#FF4600] px-2 py-2 lg:px-5 lg:py-2 rounded-lg font-semibold hover:scale-105 transition-all duration-300 w-1/5 lg:w-fit mx-auto lg:mx-0 outfit">
            <p>Jugar</p>
        </button>
    </a>
</nav>

<style>
	.monomaniac-one {
		font-family: "Monomaniac One", serif;
		font-weight: 400;
		font-style: normal;
	}
</style>