---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/anaconda.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Serpientes y Escaleras HTML</title>
	</head>
	<body class="inter-400 bg-slate-950 text-white relative">
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}


	.inter-400 {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	}


	.roboto-mono-400 {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	}

	
	.faculty-glyphic {
		font-family: "Faculty Glyphic", serif;
		font-style: normal;
	}	

	.outfit {
		font-family: "Outfit", serif;
		font-style: normal;
	}
</style>
